@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
:root{
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
}
body{
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
}
.header_wrapper{
    padding: 0.5em 3em;
}
nav{
    display: flex;
    gap: 4em;
    align-items: center;
}
ul{
    display: flex;
    gap: 3.2em;
    font-size: 1.35em;
}
.logo img{
    height: 2em;
}
.list_page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart_avatar{
    display: flex;
    gap: 1.5em;
    align-items: center;
}
.avatar{
    width: 3.5em;
}
.avatar img{
   width: 100%;
}

.hero_section{
    display: flex;
    padding: 0.5em 3em;
}